:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --custom-width: 30px;
  --custom-width-half: calc(var(--custom-width)/2);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

table,
th,
td {
  /* border: 1px solid #f9f9f9; */
  border: none;
  border-collapse: collapse;
}

td {
  min-width: var(--custom-width);
  height: var(--custom-width);
}

td.title {
  padding: 5px;
}

div.barr {
  width: var(--custom-width);
  height: var(--custom-width);
  background-color: #1815db;
  box-shadow: 2px 2px #0e0c81;

  &.start {
    border-top-left-radius: var(--custom-width-half);
    border-bottom-left-radius: var(--custom-width-half);
    margin-left: var(--custom-width-half);
    width: var(--custom-width-half);
  }

  &.end {
    border-top-right-radius: var(--custom-width-half);
    border-bottom-right-radius: var(--custom-width-half);
    margin-right: var(--custom-width-half);
    width: var(--custom-width-half);
  }

  &.alone {
    border-radius: var(--custom-width-half);

  }
}